@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    width: 80%;
    margin: auto;
    font-family: 'Rubik', sans-serif;
}

.background {
 position: relative;
 text-align: center;

}


/* ----- TABLE ----- */

table {
    margin: 2rem;
    box-shadow: 0.1rem 0.1rem 2rem 0 #5c5c5c3c;
    border-collapse: collapse;
}

thead {
    background-color: #85bcbc;
}

tbody tr {
    border-bottom: 1px solid #3a5353;
}

th, td {
    padding: 0.8rem 1.5rem;
    white-space: nowrap;
}

td:nth-child(4) {
    text-align: center;
}

.material-symbols-outlined {
    color:dimgray;
}


/* ----- SINGLE BOOK CARD ----- */

.book-card {
    display: flex;
    gap: 3rem;
    width: 60%;
    margin: auto;
    padding: 3rem;
    background-color:cadetblue;
    border-radius: 0.5rem;
}

.book-card img {
    width: 8rem;
    box-shadow: 5px 5px 20px;
}