@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
:root {
    --dark: #4a332d;
    --mid: #896b60;
    --light: #F5f2ea;
    --light2: #d0c7c2;
}

.index-page img {
    max-width: 100%;
}


body {
    width: 80%;
    margin: auto;
    font-family: 'Rubik', sans-serif;
}

main {
    margin-top: 2rem;
}

/* ----- NAV ----- */

nav {
    background-color: var(--dark);
    padding: 1rem;
    font-size: 1.2rem;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--light);
}


/* ----- TABLE ----- */

table {
    margin: 2rem;
    box-shadow: 0.1rem 0.1rem 2rem 0 #5c5c5c3c;
    border-collapse: collapse;
}

thead {
    background-color: var(--mid);
}

tbody tr {
    border-bottom: 1px solid var(--dark);
}

th, td {
    padding: 0.8rem 1.5rem;
    white-space: nowrap;
}

td:nth-child(4) {
    text-align: center;
}

.menu-icon {
    color:var(--mid);
}


/* ----- SINGLE BOOK CARD ----- */

.book-container {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    padding: 3rem;
    background-color:var(--dark);
    border-radius: 0.5rem;
}

.card-details {
    display: flex;
    gap: 3rem;
    color: var(--light2);
}

.book-container img {
    width: 8rem;
    box-shadow: 5px 5px 20px;
}


.delete-icon {
    font-size: 3rem !important;
    color: var(--light)
}

/* ----- FORM ----- */

form {
    display: grid;
    width: 50%;
}

input {
    padding: 0.7rem;
}

button {
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;
    padding: 0.6rem;
    background-color: var(--light2);
    border-radius: 0.3rem;
    border: none;
    font-size: 1.3rem;
}

.submit-button {
    display: flex;
    justify-content: flex-end;
}


label {
    margin: 1rem 0;
}