@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.App {
  text-align: center;
  font-family: 'Righteous', cursive;
  letter-spacing: 0.25rem;
}

button {
  padding: 1rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 50px;
    background-color: var(--contrast2);
    border: none;
    color: whitesmoke;
}
