@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

body {
    margin: 0;
    font-family: 'Kanit', sans-serif;
}

body > header {
    background-color: cornflowerblue;
    color: aliceblue;
    padding: 1rem;
}

.nav-links {
    list-style: none;
    padding: 0;
    
}

.nav-links > li > a {
    color: aliceblue;
    text-decoration: none;
}

button {
    margin-top: 0.75rem;
}

main {
    padding: 2rem;
}

div {
    margin: 4rem 1rem;
}

article {
    margin: 5rem;
}

textarea {
    box-sizing: border-box;
    width: 100%;
}

.latest-img {
    width: 15rem;
}

.profile-image {
    width: 6rem;
}

.comment-item {
    list-style: none;
}

body > footer {
    padding: 1rem;
    background-color:cornflowerblue;
}

body > footer > p {
    padding: 1rem;
    color: white;
    text-align: center;
}