.beer {
    background-color:lightgray;
    padding: 2rem;
}

.beer:hover {
    background-color:slategray;
}

.favouriteFill {
    font-variation-settings:
    'FILL' 1 !important
}

.favouriteIcon {
    font-size: 2rem;
}

summary {
    display: flex;
    justify-content: space-between;
}

.beer-details {
    display: flex;
    gap: 2rem;
}

img {
    height: 10rem;
}

figure {
    margin: 0.5rem;
}

figcaption {
    font-style: italic;
}