{% extends "base.html" %} {% block content %}
<h1>My To-Do List</h1>

<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Done</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr>
        <td>{{ event.title }}</td>
        <td>{{ event.description }}</td>
        <td>
          {% if event.done %}
          <span>&#9989;</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
