{% extends "base.html" %} {% block content %}
<h1>My Event List</h1>

<div>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Number of Guests</th>
        <th>Room</th>
        <th>Description</th>
        <th>Recurring</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr>
        <td>{{ event.date.strftime("%d %b %Y") }}</td>
        <td>{{ event.title }}</td>
        <td>{{ event.number_of_guests }}</td>
        <td>{{ event.room }}</td>
        <td>{{ event.description }}</td>
        <td>{% if event.recurring %} &#9745; {% endif %}</td>
        <td>
          <form action="{{ url_for('delete', event=event) }}" method="post">
            <input
              type="hidden"
              value="{{events.index(event)}}"
              name="delete"
            />
            <input class="delete_button" type="submit" value="&#10006;" />
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
