@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    margin: auto;
    width: 80%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-cards {
    display: flex;
    gap: 1rem;
    
}

.order-single {
    color: lightgrey;
    background-color:rgb(49, 49, 49);
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 15rem;
    box-shadow: 0.5rem 0.5rem 0.1rem;
}

td {
    padding: 0.5rem;
}

a {
    color:rgb(162, 187, 218);
    text-decoration: none;
    margin: 1rem;
}