.App {
  text-align: center;
  padding: 2rem;
  background-color: #272727;
  color: darkturquoise;
  font-size: 1.5rem;
}

h1 {
  font-size: 4rem;
  margin: 1rem;
}

form, ul, main {
  display: flex;
  gap: 2rem;
}

main {
  flex-direction: column;
  padding: 4rem;
  max-width: 50vw;
  margin: auto;
}

form, ul {
  background-color: #1e1e1e;
  border-radius: 30px;
  padding: 4rem 2rem;
}

form {
  justify-content: center;
  align-items: center;
}

.form-element {
  padding: 1rem 2rem;
  min-height: 5vh;
  border: 1px solid cadetblue;
  background-color: #212827;
}

input[type="text"] {
  margin-top: 0.7rem;
  min-width: 28rem;
  font-size: 1.5rem;
  color: rgb(182, 227, 222);
}

input[type="radio"] {
  accent-color: darkturquoise;
}

label {
  margin: 1rem;
}

#save-button {
  margin-top: 0.7rem;
  background-color: darkturquoise;
  color: #1e1e1e;
  min-height: 9vh;
  font-weight: 600;
  font-size: 1.2rem;
}

ul {
  padding: 4rem;
  list-style: none;
  flex-direction: column;
}

li {
  padding: 1rem 5rem;
  background-color: #1e1e1e;
  width: 60%;
  margin: auto;
}

.low-priority {
  border: 1px solid cadetblue;
}

.high-priority {
  border: 2px solid mediumvioletred;
  color: mediumvioletred;
  font-weight: 600;
}



